<!DOCTYPE html>
<html>
<head>
	<!-- Compiled and minified CSS -->
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovate - Eco Tech Company</title>
    <link rel="stylesheet" href="stylehome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<title>Innovate Rec Utente</title>
<style>
	
	body {
     margin-left: 175px;
	 margin-top: 75px;
	 margin-right: 175px;
    color: floralwhite;
	}
	text {
		color: floralwhite;
	}
	
	
	
</style>


</head>	

<body>
	
	<h1>Registrati alla nostra newsletter</h1>
	<br>
	<br>
<div class="container"></div>

<form action="/submit2" method="post">
	
<label>Nome</label>
<input type="text" name = "nome">
		
	
	<label>Cognome</label>
	<input type = "text" name= "cognome">
	<br>
	<label>Città</label>
	<input type = "text" name= "citta">
	<br>
	<label>Indirizzo</label>
	<input type = "text" name= "indirizzo">
	<br>
	<label>Telefono</label>
	<input type = "text" name= "telefono">
	<br>
		<label>Mail</label>
		<input type = "text" name= "mail">
	<input type = "submit" value = "Invia">

	</form>
	<br>
	<br>
	<hr>
	
	<form action = "/delete2" method="post">
		<input type = "text" name= "mail">
			
			<input type = "submit" value = "Cancella">
		
	</form>
	
	<!--<form action = "/negozio" method = "get">

	<input type = "submit" value = "show">-->
	
	</div>	
	
	</form>
		
	
</body>


</html>