<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Acquista Telefoni</title>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 	<link rel="stylesheet" href="Store2.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="app.js"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Inclusione di jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	
	
	
</head>
<body>

<h1>Acquista il tuo telefono</h1>
<br>

 <div class="container">
  

  
 
   <div class="row">
    <form action = "/process" method = "post">
   
  <div class="card col s5" th:each = "prod: ${lista}" >
 
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" th:src="${prod.getUrl()}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 nome"  th:text="${prod.getNome()}" th:value="${prod.getNome()}" id = "nome"><i class="material-icons right">Prodotto:</i></span>
	  <span class="card-title activator grey-text text-darken-4 nome"  th:text="${prod.getTipologia()}" th:value="${prod.getTipologia()}" id = "tipologia"><i class="material-icons right">Tipologia:</i></span>
	 Prezzo: <span class="card-title activator grey-text text-darken-4 nome"  th:text="${prod.getPrezzo()}" th:value="${prod.getPrezzo()}" id = "prezzo"><i class="material-icons right">Prezzo:</i></span>
	 Quantità: <span class="card-title activator grey-text text-darken-4 nome"  th:text="${prod.getQuantita()}" th:value="${prod.getQuantita()}" id = "quantita"><i class="material-icons right">Quantità: </i></span>
	   <p> <input type = "number" th:name ="qnts" value= "0" th:id = "${prod.getNome()}"></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4" th:text="${prod.getTipologia()}"><i class="material-icons right">close</i></span>
    Prezzo:  <p th:text="${prod.getPrezzo()}" id = "prezzo"></p>
        Quantità:  <p th:text="${prod.getQuantita()}"></p>
		 prodotto:  <p th:text="${prod.getNome()}"></p>
		 Tipologia: <p th:text="${prod.getTipologia()}"></p>
		 <!--<p class="card-text">Prezzo: <span th:text="${prodotto.prezzo}"></span></p>
		 		<p class="card-text">Quantità: <span th:text="${prodotto.quantita}"></span></p>
		 		<p class="card-text">Data: <span th:text="${prodotto.data}"></span></p>-->
	
				
					 		
    </div>
    
    
  </div>
  
	
  <div class="row">
     <div class="col s12 m6">
       <div class="card blue-grey darken-1">
         <div class="card-content white-text">
           <span class="card-title">Carrello</span>
           <p>spesa:</p>
           <div id = "result"></div>
         </div>
        
       </div>
     </div>
   </div>
    </div>


	<button class="btn waves-effect waves-light column" type="submit" name="action">Riepilogo ordine
	</button>
	</form>
	<button class="btn waves-effect waves-light column"  id = "btn">Aggiungi al carrello
	  </button>
>
  
 <br> <br> <br> <br> <br>
  
  
  
           
  

</body>
</html>